<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="my.app.ivonneortega.myfitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/weight_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/weight_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="my.app.ivonneortega.myfitnessapp.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/MainActivityTheme">

        </activity>
        <activity
            android:name="my.app.ivonneortega.myfitnessapp.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/LoginActivityTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name="my.app.ivonneortega.myfitnessapp.AddUserInformation.AddUserInformationActivity"
            android:label="@string/title_activity_add_user_information"
            android:theme="@style/LoginActivityTheme">
        </activity>
        <activity
            android:name="my.app.ivonneortega.myfitnessapp.Routines.RoutinesActivity"
            android:label="@string/title_activity_routines"
            android:theme="@style/AddRoutineActivityTheme">
        </activity>
        <activity
            android:name="my.app.ivonneortega.myfitnessapp.Routines.ExercisesPerDaysActivity"
            android:label="@string/title_activity_exercises_per_days"
            android:theme="@style/AddRoutineActivityTheme">
        </activity>
        <activity
            android:name="my.app.ivonneortega.myfitnessapp.Workout.StartWorkoutActivity"
            android:label="@string/title_activity_start_workout"
            android:theme="@style/WorkoutActivityTheme">
        </activity>
        <activity
            android:name="my.app.ivonneortega.myfitnessapp.AddWorkout.AddWorkoutActivity"
            android:label="@string/title_activity_add_workout"
            android:theme="@style/WorkoutAndCardioTheme">
        </activity>
        <activity
            android:name="my.app.ivonneortega.myfitnessapp.Friends.FriendsActivity"
            android:label="@string/title_activity_friends"
            android:theme="@style/FriendsTheme">
        </activity>
        <activity
            android:name="my.app.ivonneortega.myfitnessapp.Challenges.ChallengesActivity"
            android:label="@string/title_activity_challenges"
            android:theme="@style/LoginActivityTheme">
        </activity>

        <service android:name="my.app.ivonneortega.myfitnessapp.ChallengesService" />
    </application>

</manifest>