<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ivonneortega.myfitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/MainActivityTheme">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/LoginActivityTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AddUserInformation.AddUserInformationActivity"
            android:label="@string/title_activity_add_user_information"
            android:theme="@style/LoginActivityTheme">
        </activity>
        <activity
            android:name=".Routines.RoutinesActivity"
            android:label="@string/title_activity_routines"
            android:theme="@style/AddRoutineActivityTheme">
        </activity>
        <activity
            android:name=".Routines.ExercisesPerDaysActivity"
            android:label="@string/title_activity_exercises_per_days"
            android:theme="@style/AddRoutineActivityTheme">
        </activity>
        <activity
            android:name=".Workout.StartWorkoutActivity"
            android:label="@string/title_activity_start_workout"
            android:theme="@style/WorkoutActivityTheme">
        </activity>
        <activity
            android:name=".AddWorkout.AddWorkoutActivity"
            android:label="@string/title_activity_add_workout"
            android:theme="@style/WorkoutAndCardioTheme">
        </activity>
        <activity
            android:name=".Friends.FriendsActivity"
            android:label="@string/title_activity_friends"
            android:theme="@style/FriendsTheme">
        </activity>
        <activity
            android:name=".Challenges.ChallengesActivity"
            android:label="@string/title_activity_challenges"
            android:theme="@style/AppTheme">
        </activity>

        <service android:name=".ChallengesService" />
    </application>

</manifest>